<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 

    <% const name='prn44' %>
        <div class="blogs content">
            <h2>All Blogs</h2>

            <% if(AllBlogs.length> 0){ %>
                <% AllBlogs.forEach(blog=> {%>
                    <h3 class="title">
                        <%= blog.title %>
                    </h3>
                    <p class="snippet">
                        <%= blog.snippet %>
                    </p>
                    <% })%>
            <% }else {%>
                <h3>There are no blog to display...</h3>
                <% }%>
        </div>
    <%- include('./partials/footer.ejs') %> 
</body>

</html>